.Button {
    font-size: 0.9rem;
    align-self: center;
    border-radius: 100px;
    border-color: transparent;
    padding: 4px 10px;
    margin-left: 2px;
    margin-right: 2px;
    min-width: 75px;
  }
  
  .Button:hover {
    opacity: 0.8;
    border-color: transparent;
    cursor: pointer;
  }
  
  .Button:hover:active {
    background-color: #272420 !important;
  }
  
  .Button:active {
    background-color: #272420 !important;
  }
  
  .Button:focus {
    background-color: #272420;
  }
  
  .Wide {
    padding: 10px 50px;
    width: 100%;
  }
  
  .Gray,
  .GrayOutline:hover,
  .Bright:hover {
    background-color: #272420;
    color: #ffffff;
  }
  
  .GrayOutline,
  .Gray:hover {
    background-color: #ffffff;
    color: #272420;
  }
  
  .Black,
  .BlackOutline:hover {
    background-color: #1e1c1b;
    color: rgb(241, 237, 230);
  }
  
  .Black:hover,
  .BlackOutline {
    background-color: rgb(241, 237, 230);
    color: #3d3124;
  }
  
  .Bright {
    background-color: rgb(155, 151, 145);
    color: #ffffff;
  }