
.Post {
    background-color: #fdfdfb;
    border-radius: 5px;
    margin-bottom: 16px;
    text-align: center;
  }
  
  .Post figure,
  h5 {
    margin: 0 0;
  }
  
  .Heart {
    color: #8c4c21;
  }
  
  .Heart:hover {
    color: #af7e23;
  }
  
  .HeartOutline:hover {
    color: #8c4c21;
  }
  